@import url("https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i,800,800i,900&display=swap");
/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */
/* 1. Theme default css */
@import url("https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i,800,800i,900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Assistant", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none;
}

a:focus {
  text-decoration: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
}

a,
button {
  color: #fff;
  outline: medium none;
}

h1, h2, h3, h4, h5 {
  font-family: "Assistant", sans-serif;
  color: #001D38;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

p {
  font-size: 16px;
  font-weight: bold;
  line-height: 23px;
  color: #4D4D4D;
  margin-bottom: 13px;
  font-family: "Assistant", sans-serif;
}

label {
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

h3 {
  font-size: 24px;
}

.mb-65 {
  margin-bottom: 40px;
}

.black-bg {
  background: #020c26 !important;
}

.white-bg {
  background: #ffffff;
}

.gray-bg {
  background: #f5f5f5;
}

.overlay {
  position: relative;
  z-index: 0;
}

.overlay::before {
  position: absolute;
  content: "";
  background-color: #1f1f1f;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .5;
}

.overlay2 {
  position: relative;
  z-index: 0;
}

.overlay2::before {
  position: absolute;
  content: "";
  background-color: #2C2C2C;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
}

.overlay_03 {
  position: relative;
  z-index: 0;
}

.overlay_03::before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #2C2C2C;
  opacity: .6;
  content: '';
  z-index: -1;
}

.bradcam_overlay {
  position: relative;
  z-index: 0;
}

.bradcam_overlay::before {
  position: absolute;
  content: "";
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5db2ff+0,7db9e8+100&1+24,0+96 */
  background: -moz-linear-gradient(left, #5db2ff 0%, #65b4f9 24%, rgba(124, 185, 233, 0) 96%, rgba(125, 185, 232, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #5db2ff 0%, #65b4f9 24%, rgba(124, 185, 233, 0) 96%, rgba(125, 185, 232, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #5db2ff 0%, #65b4f9 24%, rgba(124, 185, 233, 0) 96%, rgba(125, 185, 232, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5db2ff', endColorstr='#007db9e8',GradientType=1 );
  /* IE6-9 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
}

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.pt-120 {
  padding-top: 120px;
}

.mb-20px {
  margin-bottom: 20px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-20 {
  margin-bottom: 20px;
}

.boxed-btn3 {
  background: #43a3d0;
  color: #fff;
  display: inline-block;
  padding: 14px 38px;
  font-family: "Assistant", sans-serif;
  font-size: 14px;
  font-weight: 500;
  border: 0;
  border: 1px solid transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 30px;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.boxed-btn3:hover {
  border: 1px solid #00a4ff;
  color: #00a4ff !important;
  background: #dbdee4;
}

.boxed-btn3:focus {
  outline: none;
}

.boxed-btn3.large-width {
  width: 220px;
}

.section_title span {
  position: relative;
  z-index: 3;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 3px;
  color: #001D38;
  text-transform: uppercase;
  margin-bottom: 14px;
  display: block;
  padding-top: 14px;
}

.section_title span:before {
  position: absolute;
  height: 60px;
  width: 1px;
  background: #43a3d0;
  content: '';
  left: 50%;
  bottom: 100%;
}

.section_title h3 {
  font-size: 50px;
  line-height: 62px;
  font-weight: 700;
  position: relative;
  z-index: 0;
  padding-bottom: 15px;
}

.h3-blue{
  color: #001D38;
}
.h3-white{
  color:#fff;
}

@media (max-width: 767px) {
  .section_title h3 {
    font-size: 30px;
    line-height: 36px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section_title h3 {
    font-size: 36px;
    line-height: 42px;
  }
}

@media (max-width: 767px) {
  .section_title h3 br {
    display: none;
  }
}

.section_title p {
  font-size: 16px;
  color: #727272;
  line-height: 28px;
  margin-bottom: 0;
  font-weight: 400;
}

@media (max-width: 767px) {
  .section_title p br {
    display: none;
  }
}

.section_title.white_text h3 {
  color: #fff;
}

.section_title.white_text span {
  color: #fff;
  padding-top: 0;
}

.section_title.white_text span:before {
  display: none;
}

.mb-50 {
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .mb-50 {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 9;
  }
}

.slicknav_menu .slicknav_nav {
  background: #fff;
  float: right;
  margin-top: 0;
  padding: 0;
  width: 95%;
  padding: 0;
  border-radius: 0px;
  margin-top: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 11px;
  flex-direction: column-reverse;
  display: flex;
}

.slicknav_menu .slicknav_nav a:hover {
  background: transparent;
  color: #5DB2FF;
}

.slicknav_menu .slicknav_nav a.active {
  color: #5DB2FF;
}

@media (max-width: 767px) {
  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
}

.slicknav_menu .slicknav_nav .slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: -40px;
  position: relative;
  z-index: 99;
  border: 1px solid #ddd;
  top: 3px;
  right: 5px;
  top: -36px;
}

.slicknav_menu .slicknav_nav .slicknav_btn .slicknav_icon {
  margin-right: 6px;
  margin-top: 3px;
  position: relative;
  padding-bottom: 3px;
  top: -11px;
  right: -5px;
}

@media (max-width: 767px) {
  .slicknav_menu {
    margin-right: 0px;
  }
}

.slicknav_nav .slicknav_arrow {
  float: right;
  font-size: 22px;
  position: relative;
  top: -9px;
}

.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 0;
  margin-top: -5px;
  top: -29px;
  right: 5px;
}

.header-area {
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 99;
  position: absolute;
}

@media (max-width: 767px) {
  .header-area {
    padding-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area {
    padding-top: 0;
  }
}

.header-area .main-header-area {
  padding: 20px 200px;
  background: #fff;
  background: transparent;
}

@media (max-width: 767px) {
  .header-area .main-header-area {
    padding: 10px 0px;
    background: #001D38;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area {
    padding: 10px 15px;
    background: #001D38;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area {
    padding: 25px 0px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area {
    padding: 25px 0px;
  }
}

.header-area .main-header-area.details_nav_bg {
  background: #727272;
  padding-bottom: 0;
}

@media (max-width: 767px) {
  .header-area .main-header-area.details_nav_bg {
    padding-bottom: 10px;
  }
}

.header-area .main-header-area .logo-img {
  text-align: center;
}

@media (max-width: 767px) {
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (max-width: 767px) {
  .header-area .main-header-area .logo-img img {
    width: 70px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .logo-img img {
    width: 70px;
  }
}

.header-area .main-header-area .Appointment {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .Appointment .search_button {
    margin-right: 15px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area .Appointment .search_button {
    margin-right: 15px;
  }
}

.header-area .main-header-area .Appointment .search_button a i {
  color: #E8E8E8;
}

.header-area .main-header-area .Appointment .socail_links ul li {
  display: inline-block;
}

.header-area .main-header-area .Appointment .socail_links ul li a {
  color: #A8A7A0;
  margin: 0 10px;
  font-size: 15px;
}

.header-area .main-header-area .Appointment .socail_links ul li a:hover {
  color: #fff;
}

.header-area .main-header-area .Appointment .book_btn {
  margin-left: 30px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .Appointment .book_btn {
    margin-left: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area .Appointment .book_btn {
    margin-left: 0;
  }
}

.header-area .main-header-area .Appointment .book_btn a {
  background: #43a3d0;
  padding: 12px 26px;
  font-size: 14px;
  border: 1px solid transparent;
  color: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 30px;
  font-family: "Assistant", sans-serif;
}


@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .Appointment .book_btn a {
    padding: 12px 20px;
  }
}

.header-area .main-header-area .Appointment .book_btn a:hover {
  background: #dbdee4;
  color: #00a4ff;
  border: 1px solid #dbdee4;
}

.header-area .main-header-area .main-menu {
  text-align: center;
  padding: 12px 0;
}

.header-area .main-header-area .main-menu ul li {
  display: inline-block;
  position: relative;
  margin: 0 10px;
}

.header-area .main-header-area .main-menu ul li a {
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  font-family: "Assistant", sans-serif;
  position: relative;
  text-transform: capitalize;
}

.header-area .main-header-area .main-menu ul li a i {
  font-size: 9px;
}

@media (max-width: 767px) {
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

.header-area .main-header-area .main-menu ul li a:hover::before {
  opacity: 1;
  transform: scaleX(1);
}

.header-area .main-header-area .main-menu ul li a.active::before {
  opacity: 1;
  transform: scaleX(1);
}

.header-area .main-header-area .main-menu ul li .submenu {
  position: absolute;
  left: 0;
  top: 160%;
  background: #fff;
  width: 200px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  opacity: 0;
  visibility: hidden;
  text-align: left;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.header-area .main-header-area .main-menu ul li .submenu li {
  display: block;
}

.header-area .main-header-area .main-menu ul li .submenu li a {
  padding: 10px 15px;
  position: inherit;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  color: #000;
}

.header-area .main-header-area .main-menu ul li .submenu li a::before {
  display: none;
}

.header-area .main-header-area .main-menu ul li .submenu li:hover a {
  color: #000;
}

.header-area .main-header-area .main-menu ul li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  top: 150%;
}

.header-area .main-header-area .main-menu ul li:hover > a::before {
  opacity: 1;
  transform: scaleX(1);
}

.header-area .main-header-area .main-menu ul li:first-child a {
  padding-left: 0;
}

.header-area .main-header-area.sticky {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 990;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.96);
  background: #001D38;
}

@media (max-width: 767px) {
  .header-area .main-header-area.sticky {
    padding: 10px 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area.sticky {
    padding: 10px 0px;
  }
}

.header-area .main-header-area.sticky .main-menu {
  padding: 0;
}

.header-area .main-header-area.sticky .header_bottom_border {
  border-bottom: none;
}

.header-area .main-header-area.sticky .header_bottom_border.white_border {
  border-bottom: none !important;
}

.header-area .header-top_area {
  padding: 12px 0;
  background: rgba(44, 44, 44, 0.5);
}

@media (max-width: 767px) {
  .header-area .header-top_area .social_media_links {
    text-align: center;
  }
}

.header-area .header-top_area .social_media_links a {
  font-size: 15px;
  color: #fff;
  margin-right: 12px;
}

.header-area .header-top_area .short_contact_list {
  text-align: right;
}

@media (max-width: 767px) {
  .header-area .header-top_area .short_contact_list {
    text-align: center;
  }
}

.header-area .header-top_area .short_contact_list ul li {
  display: inline-block;
}

.header-area .header-top_area .short_contact_list ul li a {
  font-size: 13px;
  color: #fff;
  margin-left: 50px;
}

@media (max-width: 767px) {
  .header-area .header-top_area .short_contact_list ul li a {
    margin-left: 0;
    margin: 0 5px;
  }
}

.slider_bg_1 {
  /* background-image: url(../img/banner/banner.jpg); */
  background-image: url(../img/banner/cover.png);
  /* background-image: url(../img/banner/t.png);
  background-position: unset; */
  opacity: 0.8;
}

.slider_area .single_slider {
  position: relative;
  z-index: 0;
  height: 900px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 767px) {
  .slider_bg_1 {
    background-image: url(../img/banner/mobile_cover.png);
    opacity: 0.8;
  }
  
  .slider_area .single_slider {
    background-position: unset;
  }
}

.slider_area .single_slider .shap_pattern {
  position: absolute;
  right: 20%;
  bottom: 0;
}

.slider_area .single_slider .social_links {
  z-index: 999;
}

.social_links ul{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.social_links li{
  padding: 10px;
}

.slider_area .single_slider .social_links li {
  display: block;
  margin-bottom: 15px;
}

.slider_area .single_slider .social_links li a {
  width: 70px;
  height: 70px;
  display: inline-block;
  line-height: 70px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: #fff;
  font-size: 22px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background-color: #ffffff2b;
}

.slider_area .single_slider .social_links li a:hover {
  border: 1px solid rgba(255, 255, 255, 0);
}

.slider_area .single_slider .social_links li a::before {
  background: #1c92c9;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#89cbe8', endColorstr='#43a3d0', GradientType=0); /* IE6-9 */
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  content: '';
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.slider_area .single_slider .social_links li a:hover::before {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}


.slider_area .single_slider .social_links li:last-child {
  margin-bottom: 0;
}

.slider_area .single_slider::before {
  position: absolute;
  top: 110px;
  background-image: url(../img/logos/logo_white.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 205px;
  height: 205px;
  content: '';
  left: 50%;
  transform: translateX(-50%);
}

.slider_area .single_slider::after {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../img/about/cirlcle.png);
  width: 531px;
  height: 504px;
  content: '';
  z-index: -2;
}

@media (max-width: 767px) {
  .slider_area .single_slider::after {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area .single_slider::after {
    width: 320px;
    height: 320px;
    content: '';
    z-index: -2;
    background-size: cover;
  }
}

.scroll_btn{
  display: none;
}

@media (max-width: 767px) {
  .scroll_btn{
    display: block;
    color: rgb(251, 253, 255);
    text-align: center;
    font-size: 3rem;
  }

  .scroll_btn a:hover {
    color: rgb(251, 253, 255);
  }
  
  .scroll_btn a:visited {
    color: rgb(251, 253, 255);
  }
}

.slider_area .single_slider .phone_thumb {
  position: relative;
  top: 110px;
}

@media (max-width: 767px) {
  .slider_area .single_slider .phone_thumb {
    top: 60px;
  }
}

@media (max-width: 767px) {
  .slider_area .single_slider .phone_thumb img {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area .single_slider .phone_thumb img {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area .single_slider .phone_thumb img {
    width: 100%;
  }
}

.slider_area .single_slider .slider_text h3 {
  color: #FFF;
  font-family: "Assistant", sans-serif;
  font-size: 70px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 82px;
  margin-bottom: 9px;
  direction: rtl;
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_text h3 br {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area .single_slider .slider_text h3 br {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area .single_slider .slider_text h3 br {
    display: none;
  }
}

.slider_area .single_slider .slider_text h3 span {
  font-weight: 700;
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_text h3 {
    font-size: 30px;
    line-height: 35px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area .single_slider .slider_text h3 {
    font-size: 30px;
    line-height: 35px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area .single_slider .slider_text h3 {
    font-size: 45px;
    letter-spacing: 3px;
    line-height: 55px;
  }
}

.slider_area .single_slider .slider_text .job-description {
  color: #FFFFFF;
  position: relative;
  z-index: 1;
  font-size: 20px;
}

.slider_area .single_slider .slider_text span::before {
  position: absolute;
  background: #fff;
  width: 0px;
  height: 2px;
  content: '';
  left: 110px;
  top: 50%;
  margin-bottom: -1px;
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_text .job-description {
    font-size: 16px;
  }
}

.slider_area .single_slider .slider_text .video_service_btn > a {
  margin-right: 15px;
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_text .video_service_btn > a {
    margin-bottom: 20px;
  }
}

.about_me {
  padding-top: 75px;
  padding-bottom: 50px;
  position: relative;
}

@media (max-width: 767px) {
  .about_me {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .about_me {
    padding-bottom: 50px;
  }
}

.about_me .about_large_title {
  font-weight: 800;
  color: #F5F6F7;
  font-size: 235px;
  position: absolute;
  left: 41%;
  top: 0;
  line-height: 1;
}

@media (max-width: 767px) {
  .about_me .about_e_details {
    margin-bottom: 30px;
  }
}

.about_me .about_e_details h3 {
  font-size: 50px;
  font-weight: 700;
  color: #001D38;
}

@media (max-width: 767px) {
  .about_me .about_e_details h3 {
    padding-top: 15px;
  }
}

.about_me .about_e_details p {
  font-size: 15px;
  font-weight: 400;
  color: #727272;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .about_me .about_e_details p{
    font-size: 18px;
  }
}

.about_e_details{
  direction: rtl;
  text-align: right;
}

.about_me .about_img {
  position: relative;
}

@media (max-width: 767px) {
  .about_me .about_img {
    padding-top: 20px;
  }
}

.about_me .about_img .color_pattern {
  position: absolute;
  right: -80px;
  top: -123px;
  z-index: -1;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .about_me .about_img .color_pattern {
    right: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .about_me .about_img .color_pattern {
    right: 0;
  }
}

.about_me .about_img .my_Pic img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mt-50 {
  margin-top: 50px;
}

@media (max-width: 767px) {
  .mt-50 {
    margin-top: 30px;
  }
}

.mb-50 {
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .mb-50 {
    margin-bottom: 30px;
  }
}

.footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background: #001D38;
}

.footer .footer_top {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #001D38;
}

@media (max-width: 767px) {
  .footer .footer_top {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer .footer_top {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.contact .footer_top .menu_links ul li {
  display: inline-block;
  margin-right: 46px;
}

@media (max-width: 767px) {
  .contact .footer_top .menu_links ul li {
    margin-right: 20px;
  }
}

.footer .footer_top .menu_links ul li a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.contact .copy-right_text {
  padding-bottom: 30px;
  background: #001D38;
}

.contact .copy-right_text .footer_border {
  padding-bottom: 30px;
  border-top: 1px solid #334A60;
}

.contact .copy-right_text .copy_right {
  font-size: 13px;
  color: #C7C7C7;
  margin-bottom: 0;
  font-weight: 400;
}

@media (max-width: 767px) {
  .contact .copy-right_text .copy_right {
    font-size: 13px;
  }
}

.contact .copy-right_text .copy_right a {
  color: #5DB2FF;
}

@media (max-width: 767px) {
  .contact .socail_links {
    margin-top: 30px;
  }
}

.contact .socail_links ul li {
  display: inline-block;
}

.contact .socail_links ul li a {
  color: #fff;
  width: 60px;
  height: 60px;
  display: inline-block;
  text-align: center;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  line-height: 60px !important;
  margin-right: 7px;
  color: #FFFFFF;
  border: 1px solid #6b7b8b;
  font-size: 15px;
}

.contact .socail_links ul li a:hover {
  color: #fff !important;
  background: linear-gradient(to bottom, #89cbe8 0%, #43a3d0 100%)
}

.contact {
  background: #001D38;
  padding: 100px 0 50px 0;
}

@media (max-width: 767px) {
  .contact {
    padding: 80px 0 50px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact {
    padding: 100px 0 50px 0;
  }
}

.contact .section_title span{
  color: #fff;
  font-family: "Assistant", sans-serif;
}

.service-card-icon {
  font-size: 48px;
  margin-bottom: 10px;
  text-align: center;
}
.service-card-title {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: #2C2C2C;
  font-weight: 600;
  font-size: 20px;
}

.service-card-description {
  display: none;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 17px;
  color: #666;
  text-align: center;
  direction: rtl;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
  opacity: 0;
}

.toggle-icon {
  align-self: center;
  font-size: 26px;
  margin-top: auto;
  color: #666;
  cursor: pointer;
}

@media (max-width: 600px) {
  .service-card {
      width: calc(100% - 40px);
      max-width: 100%;
  }
}

.service_area {
  padding-top: 100px;
  padding-bottom: 70px;
  font-family: "Assistant", sans-serif;
}

@media (max-width: 767px) {
  .service_area {
    padding-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .service_area {
    padding-bottom: 50px;
  }
}

.service_area .single_service {
  padding: 38px 25px 35px 25px;
  border: 1px solid #E8E8E8;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  user-select: none;
  transition: 0.3s, height 0.5s ease-out;
  height: 220px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.service_area .single_service.expanded {
  height: 360px;
}
.service_area .single_service:not(.expanded):hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

@media (min-width: 768px) and (max-width: 991px) {
  .service_area .single_service {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    min-height: 250px;
  }
}

@media (max-width: 991px) {
  .service_area .single_service.expanded {
    height: auto;
  }
}

.service_area .single_service.expanded .service-card-description {
  max-height: 200px; 
  opacity: 1;
}

.service_area .single_service h3 {
  font-size: 24px;
  font-weight: 600;
  color: #2C2C2C;
  margin-top: 24px;
  padding-bottom: 12px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .service_area .single_service h3 {
    font-size: 22px;
  }
}

.service_area .single_service:hover {
  border: 1px solid #43a3d0;
}

.portfolio_area {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  font-family: "Assistant", sans-serif;
}

.portfolio_area:before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #001D38;
  content: '';
}

.text-heading {
  margin-bottom: 30px;
  font-size: 24px;
}

b,
sup,
sub,
u,
del {
  color: #ff5e13;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
}

.mt-10 {
  margin-top: 10px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.switch-wrap {
  margin-bottom: 10px;
}

.tags .tag_btn {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  border: 1px solid #eeeeee;
  display: inline-block;
  padding: 1px 18px;
  text-align: center;
}

.tags .tag_btn + .tag_btn {
  margin-left: 2px;
}

.logo{
  font-size: 20px;
  letter-spacing: 2px;  
  font-weight: bold;
}

.logo a:hover {
  color: #fff;
}

.logo a:visited {
  color: #fff;
}

.single_service {
  min-height: 235px;
}

.contact_form_area{
  text-align: right;
  direction: rtl;
}

.contact_map{
  padding-top: 35px;
}

@media (max-width: 576px) {
  .contact_map iframe {
    width: 100%;
  }
}

.call-link {
  display: none !important;
}

@media (max-width: 768px) {
  .call-link {
    display: inline-block !important;
  }
}

.recommendation-container {
  font-family: "Assistant", sans-serif;
  text-align: center;
  margin: 10px auto 60px auto;
  position: relative;
  max-width: 80%;
  height: 200px;
}

@media (max-width: 768px) {
  .recommendation-container {
      max-width: none;
  }
}

.recommendation {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  /* transition: opacity 1.5s ease-in-out; */
  pointer-events: none;
  border: 1px solid #ddd;
  
}
.recommendation.active {
  opacity: 1;
  pointer-events: auto;
}
.fa-quote-left {
  font-size: 24px;
  color: #555;
  margin-bottom: 10px;
}
.recommendation p {
  margin: 15px 0;
  color: #333;
  direction: rtl;
  height: 100px;
  overflow-y: auto;
  align-content: center;
  padding: 15px;
}
.recommendation .fa-star {
  color: #f39c12;
  font-size: 18px;
}
.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  color: #888;
  padding: 10px;
  transition: color 0.1s ease;
  z-index: 10;
}
.nav-button:hover {
  color: #555;
}
#prevBtn {
  left: 0;
}
#nextBtn {
  right: 0;
}

.portfolio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
} 

.portfolio {
  position: relative;
  width: 600px;
  height: 500px;         
  overflow: hidden;
  border-radius: 10px;
}
.portfolio-inner {
  display: flex;
  transition: transform 0.3s ease;
  height: 100%;
}

.portfolio-item {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateZ(0); /* Force hardware acceleration */
}

.imageBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
  border: none;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.imageBtn.prev {
  left: 10px;
}

.imageBtn.next {
  right: 10px;
}

.portfolio-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.indicator {
  width: 30px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicator.active {
  background-color: white;
}

@media (max-width: 600px) {
  .portfolio {
      width: 100%;
      height: 500px;
  }

  .imageBtn.prev {
      left: 5px;
  }

  .imageBtn.next {
      right: 5px;
  }
}

@media (min-width: 601px) {
  .portfolio {
      touch-action: none;
  }
}

.recommendation-title{
  padding-top: 60px;
}

.recommendation-title h3 {
  font-size: 50px;
  line-height: 62px;
  font-weight: 700;
  color: #001D38;
  position: relative;
  z-index: 0;
  padding-bottom: 15px;
}

@media (max-width: 767px) {
  .recommendation-title h3 {
      font-size: 30px;
      line-height: 36px;
  }
}

.recommendation-title span {
  position: relative;
  z-index: 3;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 3px;
  color: #001D38;
  text-transform: uppercase;
  margin-bottom: 14px;
  display: block;
  padding-top: 14px;
}

.recommendation-title span:before {
  position: absolute;
  height: 60px;
  width: 1px;
  background: #43a3d0;
  content: '';
  left: 50%;
  bottom: 100%;
}