.portfolio_area{
    background-image: url(../img/banner/portfolio_bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 180px;
    padding-bottom: 340px;
    @media #{$mobile_device} {
        padding-top: 60px;
        
    }
    &:before{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: #001D38;
        content: '';
    }
}